<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB" providerName="System.Data.SqlClient"
         connectionString="workstation id=nghiapdps00054.mssql.somee.com;packet size=4096;user id=ps00054;pwd=12345678;data source=nghiapdps00054.mssql.somee.com;persist security info=False;initial catalog=nghiapdps00054"/>
  </connectionStrings>
</configuration>